In [10]:
import pandas as pd
def compare_name(name1, name2, threshold=0.8):
    len1 = len(name1)
    len2 = len(name2)
    same_len = 0
    if len1 == len2:
        for i in range(len1):
            if name1[i] == name2[i]:
                same_len += 1
        if same_len / len1 >= threshold:
            return True
        return False
    else:
        raise ValueError("The length of two names are not equal.")
    
def compare(company_name1, df2, company_name2_col, value1_col, value2_col, value3_col, value4_col, threshold=0.75):
    match_counts = {}
    for i in range(len(company_name1)):
        for j in range(len(df2)):
            if isinstance(company_name1[i], str) and isinstance(df2[company_name2_col][j], str):
                if len(company_name1[i]) == len(df2[company_name2_col][j]):
                    if compare_name(company_name1[i], df2[company_name2_col][j], threshold):
                        match_counts[df2[company_name2_col][j]] = match_counts.get(df2[company_name2_col][j], 0) + 1
    
    for i in range(len(company_name1)):
        for j in range(len(df2)):
            if isinstance(company_name1[i], str) and isinstance(df2[company_name2_col][j], str):
                if len(company_name1[i]) == len(df2[company_name2_col][j]):
                    if compare_name(company_name1[i], df2[company_name2_col][j], threshold):
                        n = match_counts[df2[company_name2_col][j]]  
                        if df2.at[j, value2_col] == 0: 
                            df2.at[j, value2_col] = value1_col[i] / (1000 * n)
                        if df2.at[j, value3_col] == 0:  
                            df2.at[j, value3_col] = value4_col[i] * 10 / n
    for i, name1 in enumerate(company_name1):
        if name1 not in match_counts:
            new_row = pd.DataFrame([{
                company_name2_col: name1,
                value2_col: value1_col.iloc[i] / 1000,  
                value3_col: value4_col.iloc[i] * 10,  
            }])
            df2 = pd.concat([df2, new_row], ignore_index=True)
    return df2
df_processed_data=pd.read_excel('2018陕西.xlsx')
df_processed_data.fillna(0, inplace=True)
df_Shaanxi=pd.read_excel("Rystad - 陕西(终).xlsx")
df_Shaanxi['2018 new Plant Capacity(KW)0.75'] = 0
df_Shaanxi['2018 new Generation (MWh)0.75'] = 0
df_Shaanxi['2018 new Plant Capacity(KW)1'] = 0
df_Shaanxi['2018 new Generation (MWh)1'] = 0
df_Shaanxi=compare(df_processed_data['company_name'], df_Shaanxi, '中文名称', df_processed_data['Plant Capacity(KW)'], '2018 new Plant Capacity(KW)0.75','2018 new Generation (MWh)0.75',df_processed_data['Generation (MWh)'])
df_Shaanxi=compare(df_processed_data['company_name'], df_Shaanxi, '中文名称', df_processed_data['Plant Capacity(KW)'], '2018 new Plant Capacity(KW)1','2018 new Generation (MWh)1',df_processed_data['Generation (MWh)'],1)
df_Shaanxi.to_excel("Rystad - 陕西(终).xlsx", index=False)

C:\Users\ljc\AppData\Local\Temp\ipykernel_18872\1825189892.py:32: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '13.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.at[j, value2_col] = value1_col[i] / (1000 * n)
C:\Users\ljc\AppData\Local\Temp\ipykernel_18872\1825189892.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5991.666666666667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.at[j, value3_col] = value4_col[i] * 10 / n
C:\Users\ljc\AppData\Local\Temp\ipykernel_18872\1825189892.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1245132.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.at[j, value3_col] = value4_col[i] * 10 / n